.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;

    .card {
        margin-top: 80px;
        width: 30%;
        background-color: hsl(235, 46%, 20%);
        border-radius: 10px;
        position: relative;
        cursor: pointer;

        .cardImg {
            border-radius: 10px 10px 0 0;
            position: absolute;
            top: -50px;
            width: 100%;
            height: 60px;
            z-index: -1;
            overflow: hidden;
            
            img{
                position: absolute;
                right: 20px;
                top: -8px;
            }
        }

        .cardInfo {
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;

            .titleMenu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                i {
                    color: hsl(236, 100%, 87%);
                    font-size: 25px;
                    cursor: pointer;
                }

                i:hover {
                    color: white;
                }
            }

            h1 {
                font-size: 20px;
                margin: 0;
            }
            h2 {
                font-size: 50px;
                font-weight: 300;
                margin: 20px 0 10px 0;
            }
            p {
                font-weight: 300;
                color: hsl(236, 100%, 87%);
                margin: 0;
            }
        }
    }

    .card:hover {
        background-color: hsl(236, 37%, 36%);
    }
}

@media only screen and (max-width: 600px) {
    .cards {
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;

        .card {
            width: 100%;

            .hours {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}