
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

body {
  background-color: hsl(226, 43%, 10%);
  font-family: 'Rubik';
}

main{
  max-width: 1000px;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  main {
    height: auto;
  }
}